.short{
font-size:13px;
background-color:#FF0000;
}
 .weak{
font-size:13px;
background-color:orange;
}
.good{
font-size:13px;
background-color:#2D98F3;
}
.strong{
font-size:13px;
background-color:limegreen;
}